{
    "setup.py": "setup.py.jinja2",
    ".gitignore": "gitignore.txt",
    ".dockerignore": "dockerignore.txt",
    "requirements.txt": [],
    "{{ pi.package_path }}/__init__.py": "init.py.txt",
    "{{ pi.package_path }}/__main__.py": "main.py.jinja2",
    "docs/reference.txt": "reference.txt",
    "MANIFEST.in": "manifest.in.jinja2",
    "README.md": "readme.md.jinja2",
}