{
    "setup.py": "setup.py.jinja2",
    ".gitignore": "gitignore.txt",
    ".dockerignore": "dockerignore.txt",
    "requirements.txt": [],
    "{{ pi.package_path }}/__init__.py": "__init__.py.txt",
    "{{ pi.package_path }}/__main__.py": "__main__.py.jinja2",
}