#!/usr/bin/env python3
# coding: utf-8

import importlib

from {{ pi.package_name }}.environ import GlobalInterface
from volkanic.introspect import find_all_plain_modules

gi = GlobalInterface()


def test_module_imports():
    load_modules_under_dir(gi.under_project_dir(), '{{ pi.package_name }}.', 'tests.')


if __name__ == '__main__':
    test_module_imports()
